Вопросы и гипотезы:
1) 
2) 
3) 
4) 
5) 
6)

In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# Подготовка датасета

Для начала объединим таблицы Bio info (0-78) и Summury (0-78), а также удалим одинаковые строки. В итоге должно остаться 7735 строк

In [2]:
def get_bio_info_table():
    list_of_bio_info = []
    for i in range(79):
        list_of_bio_info.append(pd.read_excel("nhl/bio/Bio info (" + str(i) + ").xlsx"))
    bio_info = pd.concat(list_of_bio_info, axis=0)
    bio_info = bio_info.drop_duplicates()
    return bio_info
bio_info = get_bio_info_table()
bio_info

,Player,S/C,Pos,DOB,Birth City,S/P,Ctry,Ntnlty,Ht,Wt,Draft Yr,Round,Overall,1st Season,HOF,GP,G,A,P
0,Jack Laviolette,R,D,1879-07-27,Belleville,ON,CAN,CAN,71,170,--,--,--,19171918,Y,18,2,1,3
1,Ken Thompson,L,L,1881-05-29,Oakengates,--,GBR,GBR,70,160,--,--,--,19171918,N,1,0,0,0
2,Joe Hall,R,D,1882-05-03,Staffordshire,--,GBR,GBR,70,175,--,--,--,19171918,Y,37,15,9,24
3,Didier Pitre,R,R,1883-09-01,Valleyfield,QC,CAN,CAN,71,185,--,--,--,19171918,Y,127,64,35,99
4,Lester Patrick,L,D,1883-12-30,Drummondville,QC,CAN,CAN,73,180,--,--,--,19261927,Y,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Bradly Nadeau,R,L,2005-05-05,St-Francois de Madaw,NB,CAN,CAN,71,172,2023,1,30,20232024,N,1,0,0,0
31,Zach Benson,L,L,2005-05-12,Chilliwack,BC,CAN,CAN,70,170,2023,1,13,20232024,N,112,19,27,46
32,Connor Bedard,R,C,2005-07-17,North Vancouver,BC,CAN,CAN,70,185,2023,1,1,20232024,N,115,35,67,102
33,Macklin Celebrini,L,C,2006-06-13,North Vancouver,BC,CAN,CAN,72,190,2024,1,1,20242025,N,38,14,20,34
34,Jett Luchanko,R,C,2006-08-21,London,ON,CAN,CAN,71,180,2024,1,13,20242025,N,4,0,0,0

In [3]:
def get_summary_table():
    list_of_summary = []
    for i in range(79):
        list_of_summary.append(pd.read_excel("nhl/summary/Summary (" + str(i) + ").xlsx"))
    summary = pd.concat(list_of_summary, axis=0)
    summary = summary.drop_duplicates()
    return summary
summary = get_summary_table()
summary

,Player,S/C,Pos,GP,G,A,P,+/-,PIM,P/GP,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI/GP,FOW%
0,Antti Aalto,L,C,151,11,17,28,-25,52,0.19,...,3,4,0,0,0,1,182,6,11:03,49.7
1,Reg Abbott,L,C,3,0,0,0,0,0,0.00,...,0,0,0,0,0,0,--,--,--,--
2,Spencer Abbott,R,L,2,0,0,0,-2,0,0.00,...,0,0,0,0,0,0,3,0,6:55,--
3,Justin Abdelkader,L,L,739,106,146,252,-56,608,0.34,...,25,48,1,3,3,15,"1,238",8.6,14:54,50.5
4,Clarence Abel,L,D,333,20,18,38,0,365,0.11,...,0,0,1,1,1,5,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,Jason Zucker,L,L,743,212,193,405,-3,386,0.55,...,43,88,3,5,3,32,"1,683",12.6,15:30,32
31,Mike Zuke,R,C,455,86,196,282,-42,220,0.62,...,21,105,3,7,0,6,754,11.4,--,--
32,Rudy Zunich,L,D,2,0,0,0,0,2,0.00,...,0,0,0,0,0,0,--,--,--,--
33,Valentin Zykov,R,L,55,7,10,17,-2,10,0.31,...,1,3,0,0,0,1,69,10.1,11:07,18.2
34,Andrei Zyuzin,L,D,496,38,82,120,-40,446,0.24,...,18,42,1,4,0,5,683,5.6,18:10,28.6

In [4]:
print(bio_info.columns)
print(summary.columns)

Index(['Player', 'S/C', 'Pos', 'DOB', 'Birth City', 'S/P', 'Ctry', 'Ntnlty',
       'Ht', 'Wt', 'Draft Yr', 'Round', 'Overall', '1st Season', 'HOF', 'GP',
       'G', 'A', 'P'],
      dtype='object')
Index(['Player', 'S/C', 'Pos', 'GP', 'G', 'A', 'P', '+/-', 'PIM', 'P/GP',
       'EVG', 'EVP', 'PPG', 'PPP', 'SHG', 'SHP', 'OTG', 'GWG', 'S', 'S%',
       'TOI/GP', 'FOW%'],
      dtype='object')

Теперь объединим таблицы в одну

In [5]:
player_info = pd.merge(left=bio_info, right=summary, left_on=['Player', 'S/C', 'Pos', 'GP'], right_on=['Player', 'S/C', 'Pos', 'GP'])
player_info

,Player,S/C,Pos,DOB,Birth City,S/P,Ctry,Ntnlty,Ht,Wt,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI/GP,FOW%
0,Jack Laviolette,R,D,1879-07-27,Belleville,ON,CAN,CAN,71,170,...,--,--,--,--,0,0,--,--,--,--
1,Ken Thompson,L,L,1881-05-29,Oakengates,--,GBR,GBR,70,160,...,--,--,--,--,0,0,--,--,--,--
2,Joe Hall,R,D,1882-05-03,Staffordshire,--,GBR,GBR,70,175,...,--,--,--,--,0,1,--,--,--,--
3,Didier Pitre,R,R,1883-09-01,Valleyfield,QC,CAN,CAN,71,185,...,--,--,--,--,0,12,--,--,--,--
4,Lester Patrick,L,D,1883-12-30,Drummondville,QC,CAN,CAN,73,180,...,--,--,--,--,0,0,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7730,Bradly Nadeau,R,L,2005-05-05,St-Francois de Madaw,NB,CAN,CAN,71,172,...,0,0,0,0,0,0,3,0,19:08,--
7731,Zach Benson,L,L,2005-05-12,Chilliwack,BC,CAN,CAN,70,170,...,1,4,0,0,0,1,159,12,14:41,21.2
7732,Connor Bedard,R,C,2005-07-17,North Vancouver,BC,CAN,CAN,70,185,...,9,39,0,0,1,5,318,11,19:50,36.2
7733,Macklin Celebrini,L,C,2006-06-13,North Vancouver,BC,CAN,CAN,72,190,...,4,10,0,0,1,3,125,11.2,19:35,48.7
7734,Jett Luchanko,R,C,2006-08-21,London,ON,CAN,CAN,71,180,...,0,0,0,0,0,0,3,0,14:03,46

In [6]:
print(player_info.columns)

Index(['Player', 'S/C', 'Pos', 'DOB', 'Birth City', 'S/P', 'Ctry', 'Ntnlty',
       'Ht', 'Wt', 'Draft Yr', 'Round', 'Overall', '1st Season', 'HOF', 'GP',
       'G_x', 'A_x', 'P_x', 'G_y', 'A_y', 'P_y', '+/-', 'PIM', 'P/GP', 'EVG',
       'EVP', 'PPG', 'PPP', 'SHG', 'SHP', 'OTG', 'GWG', 'S', 'S%', 'TOI/GP',
       'FOW%'],
      dtype='object')

In [7]:
player_info.to_csv('result.csv')

# Начальное изучение датасета, удаление выбросов и ненужных данных

In [8]:
player_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7735 entries, 0 to 7734
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      7735 non-null   object
 1   S/C         7735 non-null   object
 2   Pos         7735 non-null   object
 3   DOB         7735 non-null   object
 4   Birth City  7735 non-null   object
 5   S/P         7735 non-null   object
 6   Ctry        7735 non-null   object
 7   Ntnlty      7735 non-null   object
 8   Ht          7735 non-null   int64
 9   Wt          7735 non-null   object
 10  Draft Yr    7735 non-null   object
 11  Round       7735 non-null   object
 12  Overall     7735 non-null   object
 13  1st Season  7735 non-null   int64
 14  HOF         7735 non-null   object
 15  GP          7735 non-null   object
 16  G_x         7735 non-null   int64
 17  A_x         7735 non-null   object
 18  P_x         7735 non-null   object
 19  G_y         7735 non-null   int64
 20  A_y         7735 non-null   object
 21  P_y         7735 non-null   object
 22  +/-         7735 non-null   int64
 23  PIM         7735 non-null   object
 24  P/GP        7735 non-null   float64
 25  EVG         7735 non-null   object
 26  EVP         7735 non-null   object
 27  PPG         7735 non-null   object
 28  PPP         7735 non-null   object
 29  SHG         7735 non-null   object
 30  SHP         7735 non-null   object
 31  OTG         7735 non-null   int64
 32  GWG         7735 non-null   int64
 33  S           7735 non-null   object
 34  S%          7735 non-null   object
 35  TOI/GP      7735 non-null   object
 36  FOW%        7735 non-null   object
dtypes: float64(1), int64(7), object(29)
memory usage: 2.2+ MB

In [9]:
player_info.describe()

,Ht,1st Season,G_x,G_y,+/-,P/GP,OTG,GWG
count,7735.000000,7.735000e+03,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000
mean,72.167033,1.987848e+07,49.775048,49.775048,-2.105495,0.299824,0.638526,7.135488
std,3.485056,2.647051e+05,91.535094,91.535094,50.349664,0.239963,1.851806,13.739420
min,0.000000,1.917192e+07,0.000000,0.000000,-257.000000,0.000000,0.000000,0.000000
25%,71.000000,1.974198e+07,1.000000,1.000000,-15.000000,0.130000,0.000000,0.000000
50%,72.000000,1.993199e+07,10.000000,10.000000,-1.000000,0.250000,0.000000,1.000000
75%,74.000000,2.009201e+07,54.000000,54.000000,0.000000,0.430000,0.000000,7.000000
max,81.000000,2.024202e+07,894.000000,894.000000,722.000000,1.920000,27.000000,135.000000

In [10]:
player_info.sample(5)

,Player,S/C,Pos,DOB,Birth City,S/P,Ctry,Ntnlty,Ht,Wt,...,PPG,PPP,SHG,SHP,OTG,GWG,S,S%,TOI/GP,FOW%
871,Bob Solinger,L,L,1925-12-23,Star City,SK,CAN,CAN,69,170,...,1,2,1,1,0,1,0,--,--,--
2905,Jari Gronstrand,L,D,1962-11-14,Tampere,--,FIN,FIN,75,195,...,1,5,0,0,0,2,142,5.6,--,--
4365,Michael Rucinski,L,D,1975-03-30,Trenton,MI,USA,USA,71,188,...,0,0,0,0,0,0,13,0,11:23,--
7551,Tye Kartye,L,L,2001-04-30,Kingston,ON,CAN,CAN,71,202,...,0,0,0,0,0,1,148,9.5,11:18,43.9
1526,Roger Wilson,R,D,1946-09-18,Sudbury,ON,CAN,CAN,71,175,...,0,0,0,0,0,0,10,0,--,--

In [11]:
print(player_info.groupby('Ctry')['Ctry'].agg('count'))

Ctry
AUS       1
AUT      10
BEL       2
BHR       1
BHS       1
BLR      13
BRA       1
CAN    4941
CHE      36
CZE     237
DEU      36
DNK      16
EST       1
FIN     224
FRA      13
GBR      44
HRV       2
HTI       1
IDN       1
IRL       3
ITA       4
JAM       1
JPN       1
KAZ       5
KOR       2
LBN       1
LTU       3
LVA      22
NGA       2
NLD       3
NOR       9
POL       8
PRY       1
RUS     276
SRB       2
SVK      91
SVN       2
SWE     379
TWN       1
TZA       1
UKR      18
USA    1316
UZB       1
VEN       2
Name: Ctry, dtype: int64